arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
crispy-bootstrap4
Django
django-browser-reload
django-crispy-forms
django-tailwind
idna
Jinja2
jinja2-time
MarkupSafe
pillow
pip
poyo
python-dateutil
python-decouple
python-slugify
requests
six
sqlparse
tailwind
text-unidecode
types-python-dateutil
tzdata
urllib3
watchdog
